
.Counter{   
    text-align: center;
    background: black;
}
.Counter div{
    display: inline-block;
    font-size: 200px;
    line-height: 200px;
    background: rgb(44, 42, 42);
    color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 20px;
}
